$darkpurple: #0c002b;
$grey: #faf7f5;
$offwhite: #fffeff;
$pink: #ff718e;
$darkgrey: #828d9d;
$lightgrey: #dadde2;

$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";